:root{
    --light: rgb(140, 168, 210);
    --main: rgb(72, 116, 181);
    --dark: rgb(51, 83, 129);
}

body {
    font-family: Arial;
    margin: 0;
    font-size: 2em;
}

header {
    background-color: var(--main);
    padding: 1em;
}

header img {
    height: 7.5em;
    display: block;
    margin: auto auto;
}

nav {
    background-color: var(--light);
    padding: 0.25em;
    text-align: center;
    line-height: 1em;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: large;
    padding: 0 0.25em;
}

footer {
    background-color: var(--main);
    color: white;
    text-align: center;
    padding: 30px;
}

h1 {
    color: var(--dark);
    text-align: center;
    font-size: 1.25em;
}

.content {
    width: 80%;
    padding: 0 10%;
    color: var(--dark);
}

hr {
    height: 4px;
    background-color: var(--light);
    border-radius: 4px;
}

p {
    font-size: large;
    text-align: center;
    margin: 1.5em;
}

.profile {
    width: 60%;
    display: block;
    margin: auto auto;
    padding-bottom: 1em; 
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightgreen;
    }
  }